header .logo {
  font-weight: bold;
  padding: var(--spacing-2) 0;
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

header {
  color: var(--color-branding);
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  height: 64px;
  padding: 0 var(--spacing-5);
}

header .logo-icon {
  grid-column: 2/3;
  margin-right: var(--spacing-1);
  font-size: 2rem;
}
